<mat-card>
    <!-- <mat-card-header></mat-card-header> -->
    
    <mat-card-content>
        <div class="row">
            <div class="col-4">
                <mat-card class="card" style="background-color: crimson;">
                    <mat-card-header>Total Departments</mat-card-header>
                    <mat-card-content>{{ departmentCount }}</mat-card-content>
                </mat-card>
            </div>
            <div class="col-4">
                <mat-card class="card" style="background-color:darkcyan;">
                    <mat-card-header>Total Employees</mat-card-header>
                    <mat-card-content>{{ employeeCount }}</mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>