<mat-card>
    <mat-card-header><h3>Add Employee</h3></mat-card-header>
    <hr class="mx-2">
    <mat-card-content>
        <div class="row w-100">
            <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
                <div class="row">
                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Employee Name</mat-label>
                            <input formControlName="employeeName" id="employeeName" type="text" matInput placeholder="Enter Name">
                            <mat-error *ngIf="addEmployeeForm.get('employeeName').invalid && addEmployeeForm.get('employeeName').touched">This field is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="address" id="address" placeholder="Enter Address" rows="1"></textarea>
                            <mat-error *ngIf="addEmployeeForm.get('address').invalid && addEmployeeForm.get('address').touched">This field is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input formControlName="email" id="email" type="text" matInput placeholder="Enter Email">
                            <mat-error *ngIf="addEmployeeForm.get('email').invalid && addEmployeeForm.get('email').touched">This field is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Mobile Number</mat-label>
                            <input formControlName="mobileNumber" id="mobileNumber" type="text" matInput placeholder="Enter Mobile Number">
                            <mat-error *ngIf="addEmployeeForm.get('mobileNumber').invalid && addEmployeeForm.get('mobileNumber').touched">This field is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Department</mat-label>
                            <select formControlName="department" (change)="onDepartmentSelect()" matNativeControl required>
                                <option *ngFor="let department of departmentsList" [value]="department">{{ department }}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Designation</mat-label>
                            <select formControlName="designations" matNativeControl required>
                                <option *ngFor="let designation of designationList" [value]="designation">{{designation}}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <select formControlName="gender" matNativeControl required>
                                <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div class="col-xl-6 form-field">
                        <mat-form-field>
                            <mat-label>Blood Group</mat-label>
                            <select formControlName="bloodGroup" matNativeControl required>
                                <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">{{ bloodGroup }}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-warning" type="Submit" [disabled]="addEmployeeForm.invalid">Add</button>
                    </div>
                </div>
            </form>
        </div>
        
    </mat-card-content>
</mat-card> 