/* sidebar.component.css */

.sidebar {
    height: 100vh;
    background-color: #333; /* You can customize the background color */
    color: white;
    padding-top: 20px;
  }
  
  .menu-title {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
  }

  a{
    color: #fff;
    text-decoration: none;
  }

  span{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }


  
  