<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="sidebar">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <!-- <button mat-icon-button disabled></button> -->
    <a routerLink={{node.routeLink}}>{{node.name}}</a>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <div class="d-flex align-items-center">
      <mat-icon class="mx-3">{{node.iconName}}</mat-icon>
      <span>{{node.name}}</span>
    </div>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
      </mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
  